.lefts-div {
    background-color: #1b2933;
    width: 300px;
}

.pg-style {
    font: 1em sans-serif;
    font-size: 20px;
}

.rights-div {
    background-color: #1b2933;
    width: 300px;
}

.span-styles {
    font-size: 20px;
}

.d {
    margin-left: 30px;
}

.text-color {
    color: white;
}

.custom-bg-color {
    background: #1b2933;
}